/*.DOCUMENT div {
    margin: 0.4em 0.4em 0.4em 2em;
}

.DOCUMENT div span {
    margin-right: .4em;
}
*/

.DOCUMENT {
    border-left: 5px solid;
}

.ASSIGNED {
    border: 3px solid green;
    padding: .25em;
    margin: 0.0em 0.4em 0.0em 2em;
    background: white;
}

.UNASSIGNED {
    border: 3px solid orangered;
    padding: .25em;
    margin: 0.0em 0.4em 0.0em 2em;
    background: white;
}

.UNASSIGNED_TABLE {
    border: 3px solid orangered;
    padding: .25em;
    margin: 0.0em 0.4em 0.0em 2em;
    background: white;
}

.UNASSIGNED textarea {
    width: 100%;
}

.document-note {
    display: none;
}

.drop-zone {
    padding:0px;
    border:0px;
    height: 1em;
}

.drop-hover {
    background: #c8e5bc;
}

.top-bar {
    margin: 0px;
}

.section-label {
    font-weight: bold;
}

.reassign {

}

.text {

}

.text a {
    color: black;
}

.italic {
    font-style: italic;
}

.italic a {
    color: black;
}

.bold {
    font-weight: bold;
}

.bold a {
    color: black;
}

#dragging {
    border: 3px solid orangered;
    padding: .25em;
    margin: 0.0em 0.4em 0.0em 2em;
    background: white;
}

.logo {
    padding: .5em;
    display: inline-block;
}

h1 {
    display: inline-block;
    line-height: 100px;
    paddding: .5em;
}

label {
    width: 100px;
}

.spacer {
    width: 100px;
    display: inline-block;
}

#file {
    display: inline-block;
}


.spreadsheet-download {
    padding: .25em;
}

.spreadsheet-download .spreadsheet-file {
    display: inline-block;
}

.spreadsheet-download .spreadsheet-upload-button {
    display: inline-block;
}

.completed:after {
    content: url('../check.png');
}

#try-it-out {
    border-radius: 25px;
    border: 8px solid #dc5c01;
    padding: 20px;
}



