/*.DOCUMENT div {
    margin: 0.4em 0.4em 0.4em 2em;
}

.DOCUMENT div span {
    margin-right: .4em;
}
*/

.DOCUMENT {
    border-left: 5px solid;
}

.ASSIGNED {
    border: 3px solid green;
    padding: .25em;
    margin: 0.0em 0.4em 0.0em 2em;
    background: white;
}

.UNASSIGNED {
    border: 3px solid orangered;
    padding: .25em;
    margin: 0.0em 0.4em 0.0em 2em;
    background: white;
}

.UNASSIGNED_TABLE {
    border: 3px solid orangered;
    padding: .25em;
    margin: 0.0em 0.4em 0.0em 2em;
    background: white;
}

.UNASSIGNED textarea {
    width: 100%;
}

.document-note {
    display: none;
}

.drop-zone {
    padding:0px;
    border:0px;
    height: 1em;
}

.drop-hover {
    background: #c8e5bc;
}

.top-bar {
    margin: 0px;
}

.section-label {
    font-weight: bold;
}

.reassign {

}

.text {

}

.text a {
}

.italic {
    font-style: italic;
}

.italic a {
}

.bold {
    font-weight: bold;
}

.bold a {
}

span a {
    color: black;
}

.superscript {
    font-size: .5em;
    vertical-align: super;
}

.subscript {
    font-size: .5em;
    vertical-align: sub;
}

#dragging {
    border: 3px solid orangered;
    padding: .25em;
    margin: 0.0em 0.4em 0.0em 2em;
    background: white;
}

.logo {
    padding: .5em;
    display: inline-block;
}

h1 {
    display: inline-block;
    line-height: 100px;
    paddding: .5em;
}

.spacer {
    width: 100px;
    display: inline-block;
}

#file {
    display: inline-block;
}


.spreadsheet-download {
    padding: .25em;
}

.spreadsheet-download .spreadsheet-file {
    display: inline-block;
}

.spreadsheet-download .spreadsheet-upload-button {
    display: inline-block;
}

.completed:after {
    content: url('../check.png');
}

#try-it-out {
    border-radius: 25px;
    border: 8px solid #dc5c01;
    padding: 20px;
}

#dialog textarea {
    width: 100%;
    height: 7em;
}

#dialog #text_type {
    margin-left: 1em;
}

#selection-panel {
    z-index: 100;
    background: none repeat scroll 0 0 white;
    top: 20px;
    right: 0px;
    position: fixed;
    padding: 5px;
    width: 250px;
    height: 100px;
    border: 3px solid green;
}

#floating-menu {
    background: none repeat scroll 0 0 white;
    left: 0;
    opacity: 0.8;
    padding: 5px;
    position: fixed;
    top: 0;
    z-index: 100;
}

#floating-menu button {
    margin-right: 5px;
}

.selection-area {
    padding: .5em;
}

.instructions {
    font-style: italic;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

.selected-section {
    background: lightgrey;
}

.selected-section * {
    background: lightgrey;
}


